---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import InfoCards from "../components/InfoCards.astro";
import Services from "../components/Services.astro";
import PatientConfidence from "../components/PatientConfidence.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <InfoCards />
    <Services />
    <PatientConfidence />
    <CallToAction />
  </main>
  <Footer />
</Layout>
