---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import SpecializedCare from "../components/SpecializedCare.astro";
import MeetTeam from "../components/MeetTeam.astro";
import Procedures from "../components/Procedures.astro";
import Testimonial from "../components/Testimonial.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <SpecializedCare />
    <MeetTeam />
    <Procedures />
    <Testimonial />
    <CallToAction />
  </main>
  <Footer />
</Layout>
